<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="{% block javascript %}{% endblock %}"></script>
    <link rel = "stylesheet" href="{{ base.url() }}/assets/css/styles.css">
    <link rel = "stylesheet" href="{{ base.url() }}/assets/css/{% block css_file %}{% endblock %}">
</head>
<body>
<header>
    <button type="button">Click Me!</button>

    Buuullshit
</header>
<content>
    {% block content %}Parent{% endblock %}
</content>
<footer></footer>
</body>
</html>
