<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel = "stylesheet" href="{{ base.url() }}/assets/css/{% block css_file %}{% endblock %}">
</head>
<body>
{% block content %}Parent{% endblock %}
</body>
</html>
