{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}dashboard.js{% endblock %}
{% block css_file %}home.css{% endblock %}
{% block header %}

    <nav id="logoDropdown" class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/profile">
            <img src="{{ srcProfileImg }}" id="imageUser"/>
        </a>
        <div class="navbar">
            <div class="dropdown" id="positionNameProfile">
                <button class="dropbtn" id="nameProfile">Carla Radresa
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">My profile</a>
                    <a href="#">Notifications</a>
                    <a href="/logOut">Logout</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" id="contentProfile">
        <div class="row">
            <div class="col-3">
                <div class="buttonsEdit">
                    <div class="container">
                        <div class="row">
                            <button type="button" id="addF" class="btn btn-info btn-lg buttons" data-toggle="modal" data-target="#EditInformation">Add Folder</button>
                        </div>
                        <div class="row">
                            {#<input type="submit" value="Delete Account" id="deleteAcc" class=" buttonEditInfo" data-toggle="modal" data-target="#DeleteAccount">#}
                            <button type="button" id="returntF" class="btn btn-info btn-lg buttons " onclick="toRoot()">Return to root folder</button>
                        </div>
                        <div class="row">
                            <button type="button" id="uploadF" class="btn btn-info btn-lg buttons" data-toggle="modal" data-target="#ModalFile" >Upload File</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" id="buttonProfile">
                <form action="/profile" method="POST">
                    <input type="submit" value="Profile">
                </form>
            </div>
        </div>
    </div>

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

    <!-- Modal -->
    <div id="EditInformation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add folder</h4>
                </div>
                <div class="modal-body">
                    <p>Choose the name for the folder</p>
                    <form method="POST" enctype="multipart/form-data" action="/addFolder">
                        <div class="container">
                            <div class="form-group">
                               <input type='text' placeholder="Nom" name="nom">
                            </div>
                        </div>
                        <input type="submit"  value="Confirm">

                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="ModalFile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                    <p>Choose the file to upload</p>
                    <form method="POST" enctype="multipart/form-data" action="/addFile">
                        <div class="container">
                            <div class="form-group">
                                <input default="assets/resources/user.png" accept=".jpg,.png,.gif,.pdf,.md,.txtA" type='file' id="uploadFile" name="uploadFile" />

                            </div>
                        </div>
                        <input type="submit"  value="Confirm">

                    </form>
                </div>

            </div>
        </div>
    </div>

    <div>
        {{ folders|raw }}
    </div>
{% endblock %}