{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}dashboard.js{% endblock %}
{% block css_file %}home.css{% endblock %}

{% block header %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav buttonsLogReg">
            <div>
                <button id="dropdownButton" class="dropdown" class="dropbtn">Nom i cognom</button>
                <p>{{ currentfolder }}</p>
                <div class="dropdown-content">
                    <a href="profile.twig" onchange="editProfile()">Edit profile</a>
                    <a href="base.twig" onchange="logOut()">Logout</a>
                </div>
                <img id="imageUser"/>
                <div class="navbar">
                    <div class="dropdown" id="positionNameProfile">
                        <button class="dropbtn" id="nameProfile">Carla Radresa
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Edit profile</a>
                            <a href="#">Notifications</a>
                            <a href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EditInformation">Add Folder</button>
    <button type="button" class="btn btn-info btn-lg" onclick="toRoot()">Return to root folder</button>


    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form action="/profile" method="POST">
        <input type="submit" value="Profile">
    </form>


    <!-- Modal -->
    <div id="EditInformation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add folder</h4>
                </div>
                <div class="modal-body">
                    <p>Choose the name for the folder</p>
                    <form method="POST" enctype="multipart/form-data" action="/addFolder">
                        <div class="container">
                            <div class="form-group">
                               <input type='text' placeholder="Nom" name="nom">
                            </div>
                        </div>
                        <input type="submit"  value="Confirm">

                    </form>
                </div>

            </div>
        </div>
    </div>

    <div>
        {{ folders|raw }}
    </div>
{% endblock %}