{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}home.js{% endblock %}
{% block css_file %}home.css{% endblock %}
{% block content %}


    <div id = "login" action="/inserir" method="POST">
        <form>
            <input type="text" name="title" placeholder="Username or email">
            <input type="password" name="content" placeholder="Password">
            <input type="submit" value="Login" onclick="controlLogin()">
            <input type="submit" value="Register" onclick="showRegister()">
        </form>
    </div>
    <div id = "register"  action="/inserir" method="POST">
        <form >
            <input type="text" name="content" placeholder="Name"></input>
            <input type="text" name="content" placeholder="Surname">
            <input type="text" name="title" placeholder="Username">
            <input type="email" name="content" placeholder="Email">
            <input type="password" name="content" placeholder="Password">
            <input type="date" id="birth" min="1900-01-01" max="2020-01-01">
            <input name="myFile" type="file">
            <input type="submit" value="Register" onclick="controlRegister()">
            <input type="submit" value="Login" onclick="showLogin()">
        </form>
    </div>
{% endblock %}