{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block css_file %}home.css{% endblock %}
{% block content %}

    <button type="button" class="btn btn-danger">Login</button>
    <button type="button" class="btn btn-danger">Register</button>
{% endblock %}