{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}home.js{% endblock %}
{% block css_file %}home.css{% endblock %}
{% block content %}


    <div id = "login"  >
        <form action="/login" method="POST">
            <input type="text" name="title" placeholder="Username or email">
            <input type="password" name="passwordLogin" placeholder="Password">
            <input type="submit" value="Login" onclick="controlLogin()">
        </form>
        <input type="submit" value="Register" onclick="showRegister()">
    </div>
    <div id = "register">
        <form action="/inserir" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="surname" placeholder="Surname">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Password">
            <input type="date" id="birth" name="birth" min="1900-01-01" max="2020-01-01">
            <input type='file' name="myFile" type="file">
            <input type="submit" value="Register" onclick="controlRegister()">
        </form>
        <input type="submit" value="Login" onclick="showLogin()">

    </div>
{% endblock %}