{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}home.js{% endblock %}
{% block css_file %}home.css{% endblock %}

{% block header %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav buttonsLogReg">

            <li class="nav-item menu">
                <button id="buttonLogin" type="button" class="btn btn-danger" onclick="showLogin()">Login</button>
            </li>
            <li class="nav-item menu">
                <button id="buttonRegister" type="button" class="btn btn-danger" onclick="showRegister()">Register</button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <div id = "login"  >
        <form action="/login" method="POST">
            <h1>Sign in</h1>
            <div class="form-group">
                <label class="floatLabel">Username or email:</label>
                <input type="text" name="title" placeholder="Username or email">
            </div>
            <div class="form-group">
                <label class="floatLabel">Password:</label>
                <input type="password" name="passwordLogin" placeholder="Password">
            </div>
            <input type="submit" value="Login" onclick="controlLogin()">
        </form>
    </div>
    <div id = "register">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <h1 id="reg">Register</h1>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Name:</label>
                            <input type="text" id="name" name="name" placeholder="Your name">
                        </div>
                        <div class="spans">
                            <span class="hidden">Enter a correct NAME</span>
                            <span>Enter correct name</span>
                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Create a username">
                        </div>
                        <div class="spans">
                            <span>Enter correct username</span>
                        </div>
                    </div>

                </div>
                <div class="row">

                <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Surname:</label>
                            <input type="text" id="surname" name="surname" placeholder="Your surname">
                        </div>
                    <div class="spans">
                        <span>Enter correct surname</span>
                    </div>
                </div>

                    <div class="col">

                        <div class="form-group">
                            <label class="floatLabel">Email address:</label>
                            <input type="email" id="email" name="email" placeholder="Your email address">
                        </div>
                        <div class="spans">
                            <span>Enter correct email</span>
                        </div>
                    </div>

                </div>


                <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label class="floatLabel">Password:</label>
                        <input type="password" id="psw" name="password" placeholder="Create a password" onfocus="focusFunction()" onblur="blurFunction()" onkeyup="validatePsw()">
                        {#<span {% if errors['psw'] not defined %}  class="hidden" {% endif %}>Enter a correct password</span>#}
                        {#  {% if form.get('errors') is not empty %}  #}                    </div>
                    <div id="message">
                        <p id="uppercase" class="invalid">A <b>uppercase</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="lengthmin" class="invalid">Minimum <b>6 characters</b></p>
                        <p id="lengthmax" class="invalid">Maximum <b>12 characters</b></p>
                    </div>
                </div>

                <div class="col">

                        <div class="form-group">
                            <label class="floatLabel">Repeat password:</label>
                            <input type="password" id="confirmPsw" name="confirmPassword" placeholder="Repeat the password") onkeyup="correctPsw()">
                            {#<span {% if errors['email'] not defined %}  class="hidden" {% endif %}>Enter a correct password</span>#}
                            {#  {% if form.get('errors') is not empty %}  #}
                        </div>
                        <div id="message2">
                            <p class="valid">Correct Password</p>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Birth date:</label>
                            <input type="date" id="birth" name="birth" min="1900-01-01" max="2020-01-01">
                        </div>
                    </div>


                    <div class="col">

                        <div class="form-group">
                            <label class="floatLabel">Select an image for your profile:</label>
                            <input default="assets/resources/user.png" accept="image/*" type='file' id="image" name="image" onchange="readURL(this);" />
                        </div>
                    </div>

                </div>

                </div>

            <input type="submit"  value="Create My Account" onclick="controlRegister()">
        </form>

    </div>
{% endblock %}