
.menu{
    margin: 5px;
}


#iconPwBox{

    width: 80px;
    height: 70px;
}

#imageUser{
    float: right;
    margin-left: 50px;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
}

body {
    background: #384047;
    font-family: sans-serif;
}

#register{
    margin-top: 3em;
}

#login{
    margin-top: 3em;
}


